<mat-card appearance="outlined">
    <mat-card-content>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
            matInput
            type="text"
            name="title" 
            id="" 
            ngModel
            required
            placeholder="Title"
            #title="ngModel">
            @if (title.invalid) {
                <mat-error>Title invalid</mat-error>
              }
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            rows="6" 
            name="content" 
            id="" 
            ngModel
            required
            placeholder="Content"
            #content="ngModel"></textarea>
            @if (content.invalid) {
                <mat-error>Content invalid</mat-error>
              }
        </mat-form-field>
        <button mat-raised-button color="primary" 
        type="submit">SavePost</button>
    </form>
    </mat-card-content>
</mat-card>